.navbar {
  padding: 20px;
  background-color: #122752;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(12, 16, 86, 0.2);
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #007bff;
}

.navLinkFav {
  color: #f7c615;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.navLinkFav:hover {
  transform: scale(1.05); 
}